{% extends "includes/layout.html" %}

{% block body_content %}
    
    <form method="POST">
        <div class="row">
            <div class="col">
                <select name="from" class="form-select" aria-label="From" required>
                    <option value="">From</option>
                    {% for key,value in unit.items() %}
                        <option value={{key}}>{{key}} - {{value}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="to" class="form-select" aria-label="To" required>
                    <option value="">To</option>
                    {% for key,value in unit.items() %}
                        <option value={{key}}>{{key}} - {{value}}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <input class="form-control" type="text" placeholder="Amount.." aria-label="Amount" name="amount" required>
            <hr>
            <input type="date" id="date" name="date">
            <hr><br>
            <button type="submit" class="btn btn-primary">Convert</button>
        </div>
    </form>
    {% if selected and withdate %}
        <br><br>
        <h4>Your Convert</h4>
        In : {{data.date}} <br><br>
        1 x {{data.from}} = {{data.rates}} {{data.to}}<br>
        <br>
        {{data.amount}} x {{data.from}} = {{data.result}} {{data.to}} <br>
    {% elif selected and not withdate %}
        <br><br>
        <h4>Your Convert</h4>
        In : {{data.date}} <br><br>
        1 x {{data.from}} = {{data.rates}} {{data.to}}<br>
        <br>
        {{data.amount}} x {{data.from}} = {{data.result}} {{data.to}} <br>
    {% endif %}
{% endblock body_content %} 